{
    "plugins": [
      ["prismjs", {
          "languages": [
              "markup",
              "markdown",
              "markup-templating",
              "clike",
              "php",
              "bash",
              "css",
              "scss",
              "sass",
              "javascript",
              "typescript",
              "python",
              "c",
              "rust",
              "go",
              "perl",
              "ruby",
              "lua",
              "csharp",
              "powershell",
              "aspnet",
              "smalltalk",
              "cmake",
              "json",
              "yaml",
              "sql",
              "http",
              "docket",
              "nginx",
              "graphql",
              "ignore",
              "ini",
              "dart",
              "php",
              "handlebars",
              "pug",
              "jsx",
              "tsx",
          ],
          //"plugins": ["line-numbers"],
          //"theme": "twilight",
          //"css": true
      }]
    ]
  }